openapi: 3.0.0
paths:
  /api/v1/pods:
    post:
      operationId: PodsController_createPod
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - Pods
    get:
      operationId: PodsController_listPods
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}:
    get:
      operationId: PodsController_getPod
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Pods
    put:
      operationId: PodsController_updatePod
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Pods
    delete:
      operationId: PodsController_deletePod
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}/storage:
    get:
      operationId: PodsController_getStorage
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}/content:
    get:
      operationId: PodsController_listContent
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}/content/{contentId}:
    delete:
      operationId: PodsController_deleteContent
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}/custom-domain:
    post:
      operationId: PodsController_setupCustomDomain
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - Pods
    delete:
      operationId: PodsController_removeCustomDomain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - Pods
  /api/v1/pods/{id}/custom-domain/verify:
    post:
      operationId: PodsController_verifyCustomDomain
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - Pods
  /api/v1/billing/subscription:
    get:
      operationId: BillingController_getSubscription
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Billing
  /api/v1/billing/subscribe:
    post:
      operationId: BillingController_subscribe
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Billing
  /api/v1/billing/cancel:
    post:
      operationId: BillingController_cancel
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Billing
  /api/v1/billing/invoices:
    get:
      operationId: BillingController_getInvoices
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Billing
  /health:
    get:
      operationId: HealthController_check
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Health
  /health/liveness:
    get:
      operationId: HealthController_liveness
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - Health
info:
  title: Content Pod Hosting API
  description: Managed pod hosting — custom domains, storage quotas, CDN, billing
  version: 0.1.0
  contact: {}
tags: []
servers:
  - url: https://pods.roadbeat.net
    description: Production
  - url: http://localhost:3400
    description: Development
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas: {}
